.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.about
{
color: plum;
}
.paragraph
{
  color: black;
}
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 10000% 10000%;
  background-repeat: no-repeat;
	animation: gradient 15s ease infinite;
  
	
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.tabs{
  color:#e627b6;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  justify-content: right;
  list-style: none;
  display:flex;
  justify-content: center;
}
.navbar {
  background-color: #1d0641;
  margin-left: 0%;
  margin-right: 0%;
 
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5%;          /* Footer height */
}
h1 {
  color: #13030f;;
  font-family: 'Times New Roman', Times, serif;
  font-weight:bold;
  font-size: 50px;
  margin:auto;
}
img{
  border-radius: 8px;
  flex-wrap: wrap;
  
  
}
img:hover {
  box-shadow: 0 0 5px 5px rgba(228, 213, 236, 0.664);
}
.projectcard{
  padding-left: 10px;
}